.haegin-logo {
    background-image: url("/Resume/assets/img/thumbnails/haegin.png");
    background-size: 3.5em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 3.2em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin-top: -0.3em;
}

.tistory-icon {
    background-image: url("/Resume//assets/img/icon/tistory.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}

.github-icon {
    background-image: url("/Resume//assets/img/icon/github.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}

.linkedin-icon {
    background-image: url("/Resume//assets/img/icon/linkedin.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}

.link-icon {
    background-image: url("/Resume//assets/img/icon/link.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}

.unity-icon {
    background-image: url("/Resume//assets/img/icon/unity.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}

.copy-icon {
    background-image: url("/Resume//assets/img/icon/copy.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 1em;
    height: 2em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.5em 0.2em 0;
    vertical-align: middle;
}

.search-icon {
    background-image: url("/Resume//assets/img/icon/search.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 1em;
    height: 2em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.7em 0.2em 0;
    vertical-align: middle;
}

.new-icon {
    background-image: url("/Resume//assets/img/icon/new.png");
    background-size: 1.1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 1.5em;
    height: 1.2em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.8em 0.1em 0;
    vertical-align: middle;
}

.rocket-icon {
    background-image: url("/Resume//assets/img/icon/rocket.png");
    background-size: 1.5em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    font-size: inherit;
    vertical-align: middle;
}